<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Info Page</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
        -->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


	<style type="text/css">

	</style>
</head>

<body style="margin-left: 8%; margin-right: 14%; margin-bottom: 2%; text-align: justify; ">
	
	
		<br/><br/>
		<h5>General informations about the System</h5>
		<p>This system  registers users on a form with validations and offers the option to upload a document (curriculum).  
		Once saved, the user will be added to a list with other users, who have already been saved in the system. 
		Each record can have a maximum of 3 telephone numbers.
		In this list, when you click on the user's name, you will be redirected to the phone number page. It is also possible 
		to download the CV from the list of saved users. In this system there is only one standard user to access the system 
		and this does not appear in the list of saved users, they are different entities. And users created through the form 
		do not have a login to access the system. 
		Unfortunately, due to the limited capacity of the AWS instance to deploy war files, it was not possible to deploy the
		project as planned and a feature was removed. The Jasper Report library has been removed and it is not possible to 
		generate reports in this system for now, until a new solution is found.
		</p>
		
		<p><u>Tolls - Technical informations:</u> Spring Tool Suite IDE, Postgres, EC2 Amanzon Tecnology (deploy on cloud Server).       
		Spring Boot, Spring MVC, Thymeleaf, Material Design, Javascript. </p>
		
		<a href="https://github.com/natanjava/springboot-thymeleaf" target="_blank">Git Hub Link</a> - Branch with report generation: 
		master. Branch used in deployment: master-deploy.
		
		<br/><br/>
		<p><h5>Extra-Warning</h5></p>	
		<p>The projects in this <a href="http://16.170.235.54:8080/natanael-portfolio/" target="_blank">portfolio</a> have 
		a simple business rule, but include entity relationships and mapping, important 
		object-oriented concepts, use of a database (with native SQL, hibernate, and spring JPA), forms with validations, record 
		searches with different search options, download/upload, generation of reports and/or comparative graphs, authentication 
		and security, privileges for a specific group of users, deployment on a cloud server and features that can be applied to 
		a real system. New changes will still be made, there are always improvements to be made, "software never ends". But each 
		project is constantly being worked on to implement improvements and generate a new version. It is not possible to deploy 
		frequently, because the server has many limitations.
		<br/>Unfortunately, these limitations caused changes to projects 4 and 5 and report generation was removed. Projects 2 and 3 
		have report generation but it is a native feature of the framework used (JSF). Project 1 was able to generate reports with 
		Jasper Reports.
		<br/>The user interface is in English, a few words are still in the developer's native language. But the intention is to transform 
		all the code (front-end and back-end) into English, to make it easier the understandig for anyone who accesses the portfolio 
		and the git hub repository.
		</p>
	
	
	
	
	<br/>
	<a class="waves-effect waves-light btn" th:href="@{/logout}">Logout</a> 
	<a class="waves-effect waves-light btn" th:href="@{/cadastroPessoa}">User Page</a>
	
	
</body>

</html>