<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Info Page</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
        -->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


	<style type="text/css">

	</style>
</head>

<body style="margin-left: 3%; margin-right: 3%; margin-bottom: 2%; margin-top: 2%;">
	<h5>General informations about the System</h5><br />
	building...
	<br/><br/>
	<a class="waves-effect waves-light btn" th:href="@{/logout}">Logout</a> 
	<a class="waves-effect waves-light btn" th:href="@{/cadastroPessoa}">User Page</a>
	
	
</body>

</html>