<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Info Page</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
        -->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


	<style type="text/css">

	</style>
</head>

<body style="margin-left: 8%; margin-right: 14%; margin-bottom: 2%; text-align: justify; ">
	
	
		<br/><br/>
		<h5>General informations about the System</h5>
		<p>This <a href="https://github.com/natanjava/springboot-thymeleaf/tree/master-deploy" target="_blank">System</a>  
			registers users on a form with validations and offers the option to upload a document (curriculum).  
		Once saved, the user will be added to a list with other users, who have already been saved in the system. 
		In this list, when you click on the user's name, you will be redirected to the phone number page.
		Each record can have a maximum of 3 telephone numbers. It is also possible 
		to download the Curriculum from the list of saved users. In this system there is only one standard user to access the system 
		and this does not appear in the list of saved users, they are different entities. And users created through the form 
		do not have a login to access the system. 

		</p>
		
		<p><u>Tolls - Technical informations:</u> Spring Tool Suite IDE, Postgres, EC2 Amanzon Tecnology (deploy on cloud Server).       
		Spring Boot, Spring MVC, Thymeleaf, Material Design, Javascript. </p>
		
		<a href="https://github.com/natanjava/springboot-thymeleaf/tree/master-deploy" target="_blank">Git Hub Link</a>
		
	
	<br/><br/><br/>
	<a class="waves-effect waves-light btn" th:href="@{/logout}">Logout</a> 
	<a class="waves-effect waves-light btn" th:href="@{/cadastroPessoa}">User Page</a>
	
	
</body>

</html>